

<form method="post">
    
<h1>Update product</h1>
Enter id to update:<input type="number" name="pid"><br>
Enter name to update:<input type="text" name="pname">;
<button type="submit">Update</button>
</form>